@namespace xml url('http://www.w3.org/XML/1998/namespace');
@namespace tei url('http://www.tei-c.org/ns/1.0');
@namespace oxy url('http://www.oxygenxml.com/extensions/author');
TEI {
    color: #333;
    background-color: #DDD;
    font-size: 14pt;
    padding: 2rem;
}

bibl,
def,
num,
ref,
sense,
usg,
xr {
    font-family: sans-serif;
}

quote,
TEI {
    font-family: "Palatino Linotype", "Times New Roman", 'NewAthenaUnicodeRegular', serif;
}

addStart,
addEnd,
delStart,
delEnd,
ibStart,
ibEnd,
lcStart,
lcEnd,
llccStart,
llccEnd,
teiHeader {
    display: none;
}

bibl[type="dmic"],
dictScrap,
entry,
etym,
form,
sense,
TEI,
text {
    display: block;
}

cit:before {
    /* Pas bloc parce que possiblement suivi de texte, saut de ligne avant  */
    /*
    content: '\A';
    */
    content: ' ';
    display: block;
}

body {
    display: block;
    background: #fff;
    font-family: serif;
    width: 45rem;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

entry {
    border-top: 1rem solid #DDD;
    padding: 1rem 2rem;
}

sense {
    text-indent: -1.2rem;
    margin: 0 0 0.5rem 1.2rem;
}

entry>sense:first-of-type {
    margin-top: 1rem;
}

entry>sense:last-of-type {
    margin-bottom: 1rem;
}

bibl[type="dmic"],
form form,
etym {
    background-color: #F0F0EE;
    padding: 0.2rem 0.5rem;
    border-radius: 3px;
}

hi {
    font-style: italic;
}

hi[rend="sup"] {
    position: relative;
    top: -0.5em;
    font-size: 80%;
}

hi[rend="sub"] {
    position: relative;
    bottom: -0.5em;
    font-size: 80%;
}

ref {}

num {
    font-weight: bold;
    padding-right: 0.2ex;
}

pc {
    width: 0;
    color: transparent;
}

pc::before {
    content: 'â—';
    color: #353B90;
}

sense>num {
    color: #353B90;
}

orth {
    color: #B9121B;
    font-weight: bold;
}

entry>form>orth {
    font-size: 1.5rem;
}

ref {}

def {
    font-style: italic;
    color: #B9121B;
}

quote[xml|lang="spa"] {
    font-style: italic;
}

title {
    font-style: italic;
}

bibl {
    font-weight: 100;
    font-size: 0.8rem;
    line-height: 95%;
    background-color: #F0F0EE;
    color: #666;
    padding: 2px 0.7ex;
    border-radius: 0.5em;
    white-space: nowrap;
}