@namespace xml url('http://www.w3.org/XML/1998/namespace');
:root {
    /* des variables globales */
    --rubric: #B9121B;
    --trad: #04667c;
    --royal: #353B90;
    --marker: #aaa;
    --bg: #fff;
    --bg_marg: #DDD;
    --bg_soft: #F0F0EE;
    --text: #000;
    --text_soft: #333;
    --text_grey: #666;
    /* 
        Échec Accents : Georgia, "Source Serif VF" 
        Échec : "Times New Roman"
        Réussies : "Palatino Linotype", "Athena", 
     */
    --serif: 'Crimson Pro', "Palatino Linotype", "Athena", serif;
    --grc: "Noto Sans", "Athena", sans-serif;
    --sans-serif: "Noto Sans", "Athena", sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
    font-display: swap;
    font-family: "Athena";
    src: url("./fonts/newathu5.woff") format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Crimson Pro';
    font-style: normal;
    src: url("./fonts/CrimsonPro-VariableFont_wght.ttf");
    font-weight: 200 900;
}

@font-face {
    font-display: swap;
    /* garder le nom Google standard */
    font-family: 'Crimson Pro';
    font-style: italic;
    src: url("./fonts/CrimsonPro-Italic-VariableFont_wght.ttf");
    /* cf. spec font https://fonts.google.com/variablefonts 
    pas de propriété wdth permettant du font-stretch
    */
    font-weight: 200 900;
}

@font-face {
    font-display: swap;
    font-family: "Noto Sans";
    font-style: normal;
    src: url("./fonts/NotoSansDisplay-VariableFont_wdth,wght.ttf");
    /* cf. spec font https://fonts.google.com/variablefonts */
    font-weight: 100 900;
    font-stretch: 62.5% 100%;
}

@font-face {
    font-display: swap;
    font-family: "Noto Sans";
    font-style: italic;
    src: url("./fonts/NotoSansDisplay-Italic-VariableFont_wdth,wght.ttf");
    /* cf. spec font https://fonts.google.com/variablefonts */
    font-weight: 100 900;
    font-stretch: 62.5% 100%;
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
}

html {
    font-size: 14pt;
}

body {
    line-height: 140%;
    color: var(--text_soft);
    background-color: var(--bg_marg);
    padding: 2rem;
    /* défaut : sans-serif light */
    font-family: var(--sans-serif);
    font-weight: 300;
}

body {
    width: 55rem;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

article.entry {
    margin-bottom: 1rem;
    /*
    border-top: 2rem solid var(--bg_soft);
    border-bottom: 2rem solid var(--bg_soft);
    border-left: 1rem solid var(--bg_soft);
    border-right: 1rem solid var(--bg_soft);
    */
    background-color: var(--bg_soft);
    padding: 0rem 1rem 2rem 1rem;
}

nav.prevnext {
    display: flex;
    margin-left: -0.8rem;
    margin-right: -0.8rem;
    padding: 0.2rem 0 2rem 0;
}

nav.prevnext>a {
    flex-basis: 50%;
    padding: 0.3rem 0.5rem;
    line-height: 100%;
    color: var(--rubric);
    display: block;
    text-decoration: none;
}

nav.prevnext>a:hover {
    background-color: var(--bg);
}

nav.prevnext .next {
    text-align: right;
}

article .body {
    padding: 2rem 1rem;
    background-color: var(--bg);
    overflow-anchor: none;
    flex-grow: 2;
}

article .body * {
    overflow-anchor: none;
}

div.row {
    padding: 2rem 0;
    display: flex;
    position: relative;
}

nav.entry-nav {
    position: sticky;
    top: 0;
    max-height: 100vh;
    overflow-y: auto;
    font-size: 0.85rem;
    flex: 0 0 15rem;
    /*
    height: calc(100vh - 48px);
    order: -1;
    padding-left: 0;
    padding-right: 0;
    */
}

nav.entry-nav ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

nav.entry-nav a {
    display: block;
    text-decoration: none;
    line-height: 105%;
    padding: 5px;
    color: var(--text)
}

nav.entry-nav a>* {
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
}

nav.entry-nav ul a {
    padding-left: 1rem;
}

nav.entry-nav ul ul a {
    padding-left: 2rem;
}

nav.entry-nav ul ul ul a {
    padding-left: 3rem;
}

nav.entry-nav ul ul ul ul a {
    padding-left: 4rem;
}

nav.entry-nav ul ul ul ul ul a {
    padding-left: 5rem;
}

nav.entry-nav ul ul ul ul ul ul a {
    padding-left: 6rem;
}

nav.entry-nav a:hover {
    background-color: var(--bg);
}

.usg {
    /*
    font-stretch: condensed;
    font-weight: 550;
    */
}

q::before {
    content: '';
}

q::after {
    content: '';
}

q {
    font-family: var(--serif);
    font-style: italic;
    font-weight: 250;
    font-weight: 380;
}

q[lang="spa"] {
    color: var(--trad);
}

q[lang="grc"] {
    font-family: var(--grc);
    font-style: normal;
}


/* Espacements et alignments des <sense> */

section.sense {
    text-indent: -1.6rem;
    margin: 0.2rem 0.2rem 0.5rem 1.1rem;
    padding: 0rem 0 0 0.4rem;
    position: relative;
    /* Si on change l’in */
    /*
    border-left: 1px solid var(--bg_soft);
    background-color: var(--bg);
    background: linear-gradient(to right, var(--bg), var(--bg_soft) 3rem, var(--bg_soft) 60%, var(--bg));
    */
}

section.sense div,
section.sense p {
    text-indent: 0;
}

pc+* {
    padding-left: 1.5rem;
}

pc+cit {
    padding-left: 0;
}

cit {
    text-indent: 0;
}

article>header {}

form * {
    text-indent: 0;
}

span.bibl {
    /* comportement général <bibl>, surchargé ensuite pour dmic entry>bibl */
    color: var(--text_grey);
    white-space: nowrap;
    font-stretch: semi-condensed;
    font-size: 0.85rem;
}

header>div.form,
article.entry>div.bibl,
article.entry>div.etym {
    padding: 0.3rem 0.7rem;
    border-top: 2px solid var(--bg);
}

header>div.form1 {
    border-top: none;
}

entry>bibl,
entry>etym,
entry>form {
    /* header et footer d’article */
    margin-left: -1rem;
    margin-right: -1rem;
    background-color: var(--bg_soft);
}

entry[type="xr"]>xr,
entry[type="dmic"]>bibl {
    /* corps d’article */
    margin: 1rem 0;
    background-color: unset;
    padding: unset;
    border: unset;
}

etym:before {
    content: "Etimología: ";
}

form[type="alolema"]:before {
    content: "Alolema(s): ";
}

form[type="grafia"]:before {
    content: "Grafía: ";
}

form[type="morfologia"]:before {
    content: "Morfología: ";
}

form[type="prosodia"]:before {
    content: "Prosodia: ";
}

etym:before,
form[type="alolema"]:before,
form[type="grafia"]:before,
form[type="morfologia"]:before,
form[type="prosodia"]:before {
    font-size: 85%;
    font-weight: 500;
    color: var(--marker);
}

hi {
    font-style: italic;
}

.def>i,
i>i,
.q>i,
.title>i {
    font-style: normal;
    font-family: var(--sans-serif);
    color: var(--text);
    font-weight: 200;
}

q[lang="spa"] i {
    font-stretch: semi-condensed;
}

sup {
    position: relative;
    top: -0.5em;
    font-size: 80%;
}

sub {
    position: relative;
    bottom: -0.5em;
    font-size: 80%;
}

a.ref {
    text-decoration: underline;
}

a.ref .num {
    font-weight: 400;
}


/* numbering of senses */

section.sense>b.pc,
section.sense>b.num {
    float: left;
    display: right;
    width: 1.5rem;
    font-size: 85%;
    font-weight: bold;
}

.sense>b.num {
    color: var(--text_soft);
}


/*
section.sense>.num::before {
    display: inline-block;
    width: 1.6rem;
    background-color: var(--bg);
}
*/

b.pc {
    color: transparent;
}

.pc::before {
    position: absolute;
    content: '✦';
    font-size: 80%;
    padding-left: 0.2rem;
    color: var(--rubric);
    display: block;
}

.orth {
    color: var(--rubric);
    font-stretch: expanded;
}

strong.lemma {
    font-weight: 500;
    font-size: 1.5rem;
}

.def {
    font-style: italic;
    color: var(--rubric);
    font-weight: 370;
    font-size: 0.85rem;
}

.title {
    font-style: italic;
}