@namespace xml url('http://www.w3.org/XML/1998/namespace');
@namespace tei url('http://www.tei-c.org/ns/1.0');
@namespace oxy url('http://www.oxygenxml.com/extensions/author');
:root {
    /* des variables globales */
    --rubric: #B9121B;
    --royal: #353B90;
    --marker: #aaa;
    --bg: #fff;
    --bg_marg: #DDD;
    --bg_soft: #F0F0EE;
    --text: #000;
    --text_soft: #333;
    --text_grey: #666;
    --serif: "Source Serif VF", "Palatino Linotype", "Times New Roman", 'NewAthenaUnicodeRegular', serif;
    /* 
     * OpenSans ici est genre d’Ariual
     * permet de jouer sur la graisse et la largeur des caractères 
     * mais pose des problèmes sur du grec.
     */
    --sans-serif: "Noto Sans", sans-serif;
}

@font-face {
    font-family: "Noto Sans";
    src: url("./fonts/NotoSansDisplay-VariableFont_wdth,wght.ttf");
    font-style: normal;
    font-display: swap;
    /* cf. spec font https://fonts.google.com/variablefonts */
    font-weight: 100 900;
    font-stretch: 62.5% 100%;
}

@font-face {
    font-family: "Noto Sans";
    src: url("./fonts/NotoSansDisplay-Italic-VariableFont_wdth,wght.ttf");
    font-style: italic;
    font-display: swap;
    /* cf. spec font https://fonts.google.com/variablefonts */
    font-weight: 100 900;
    font-stretch: 62.5% 100%;
}

@font-face {
    font-family: 'Source Serif VF';
    font-weight: 200 900;
    font-style: normal;
    font-stretch: normal;
    src: url('./fonts/SourceSerif4Variable-Roman.ttf.woff2') format('woff2'), url('./fonts/SourceSerif4Variable-Roman.ttf.woff') format('woff'), url('./fonts/SourceSerif4Variable-Roman.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif VF';
    font-weight: 200 900;
    font-style: italic;
    font-stretch: normal;
    src: url('./fonts/SourceSerif4Variable-Italic.ttf.woff2') format('woff2'), url('./fonts/SourceSerif4Variable-Italic.ttf.woff') format('woff'), url('./fonts/SourceSerif4Variable-Italic.ttf') format('truetype');
    font-display: swap;
}

TEI {
    color: var(--text_soft);
    background-color: var(--bg_marg);
    font-size: 14pt;
    padding: 2rem;
    /* Tentons sans-serif par défaut ? */
    font-family: var(--sans-serif);
    /* essai de typo légère pour jouer sur la graisse */
    font-weight: 300;
}

bibl,
def,
num,
ref,
sense,
usg,
xr {
    /* Ici forcer le sans-serif pour certains éléments */
    font-family: var(--sans-serif);
}

quote {
    font-family: var(--serif);
    font-weight: 500;
    color: var(--text);
}

addStart,
addEnd,
delStart,
delEnd,
ibStart,
ibEnd,
lcStart,
lcEnd,
llccStart,
llccEnd,
teiHeader {
    display: none;
}

bibl[type="dmic"],
dictScrap,
entry,
etym,
form,
sense,
TEI,
text {
    display: block;
}

cit:before {
    /* Pas bloc parce que possiblement suivi de texte, saut de ligne avant  */
    /*
    content: '\A';
    */
    content: ' ';
    display: block;
}

body {
    display: block;
    background: var(--bg);
    width: 45rem;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

entry {
    border-top: 1rem solid #DDD;
    padding: 2rem 2rem;
}

sense {
    text-indent: -1.2rem;
    margin: 0 0 0.5rem 1.2rem;
}

entry>sense:first-of-type {
    /* premier sense de premier niveau */
    margin-top: 2rem;
}

entry>sense:last-of-type {
    /* dernier sense de premier niveau */
    margin-bottom: 2rem;
}

bibl[type="dmic"],
form form,
etym {
    background-color: var(--bg_soft);
    padding: 0.3rem 0.7rem;
    line-height: 115%;
    border-bottom: 2px solid var(--bg);
}

etym:before {
    content: "Etimología: ";
}

form[type="alolema"]:before {
    content: "Alolema(s): ";
}

form[type="grafia"]:before {
    content: "Grafía: ";
}

form[type="morfologia"]:before {
    content: "Morfología: ";
}

form[type="prosodia"]:before {
    content: "Prosodia: ";
}

etym:before,
form[type="alolema"]:before,
form[type="grafia"]:before,
form[type="morfologia"]:before,
form[type="prosodia"]:before {
    font-size: 85%;
    font-weight: 500;
    color: var(--marker);
}

hi {
    font-style: italic;
}

def hi,
hi hi,
quote[xml|lang="spa"] hi,
title hi {
    font-style: normal;
}

hi[rend="sup"] {
    position: relative;
    top: -0.5em;
    font-size: 80%;
}

hi[rend="sub"] {
    position: relative;
    bottom: -0.5em;
    font-size: 80%;
}

ref {
    text-decoration: underline;
}

ref num {
    font-weight: 400;
}

sense>num {
    font-weight: bold;
    padding-right: 0.2ex;
}

pc {
    float: left;
    width: 0;
    color: transparent;
}

pc+* {
    padding-left: 1.2rem;
}

pc+cit {
    padding-left: 0;
}

pc::before {
    content: '●';
    color: var(--marker);
    position: absolute;
    display: block;
}

sense>num {
    color: var(--marker);
}

orth {
    color: var(--rubric);
    font-weight: bold;
    font-stretch: expanded;
}

entry>form>orth {
    font-size: 1.5rem;
}

ref {}

def {
    font-style: italic;
    color: var(--rubric);
    font-weight: 400;
}

quote[xml|lang="spa"] {
    font-style: italic;
}

title {
    font-style: italic;
}

bibl {
    color: var(--text_grey);
    white-space: nowrap;
    font-stretch: semi-condensed;
    font-size: 85%;
    /*
    background-color: var(--bg_soft);
    line-height: 95%;
    padding: 2px 0.7ex;
    border-radius: 0.5em;
    */
}